In [105]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR

In [106]:
df=pd.read_csv('Fertilizer_Prediction.csv')
df

,Temperature,Humidity,Rainfall,pH,N,P,K,Soil,Crop,Fertilizer
0,24.87,82.84,295.61,6.59,4.0,2.0,2.5,Clayey,rice,DAP and MOP
1,28.69,96.65,178.96,6.08,4.0,4.0,4.0,laterite,Coconut,Good NPK
2,20.27,81.64,270.44,5.01,4.0,4.0,2.0,silty clay,rice,MOP
3,25.07,95.02,192.90,5.55,2.0,2.1,3.5,sandy,Coconut,Urea and DAP
4,25.04,95.90,174.80,6.18,2.0,3.9,2.1,coastal,Coconut,Urea and MOP
...,...,...,...,...,...,...,...,...,...,...
195,23.58,83.59,291.30,5.85,4.0,2.0,3.0,silty clay,rice,DAP
196,25.66,83.47,217.38,7.12,2.0,3.9,2.1,Clayey,rice,Urea and MOP
197,24.17,83.73,257.03,5.58,2.0,2.1,3.5,silty clay,rice,Urea and DAP
198,26.23,83.84,286.51,5.54,4.2,2.3,3.2,silty clay,rice,DAP
199,23.83,84.81,298.56,6.27,2.5,4.0,2.0,silty clay,rice,Urea and MOP

In [107]:
df.head()

,Temperature,Humidity,Rainfall,pH,N,P,K,Soil,Crop,Fertilizer
0,24.87,82.84,295.61,6.59,4.0,2.0,2.5,Clayey,rice,DAP and MOP
1,28.69,96.65,178.96,6.08,4.0,4.0,4.0,laterite,Coconut,Good NPK
2,20.27,81.64,270.44,5.01,4.0,4.0,2.0,silty clay,rice,MOP
3,25.07,95.02,192.90,5.55,2.0,2.1,3.5,sandy,Coconut,Urea and DAP
4,25.04,95.90,174.80,6.18,2.0,3.9,2.1,coastal,Coconut,Urea and MOP

In [108]:
X=df.iloc[:,:-1]
y=df.iloc[:,-1]
y

0       DAP and MOP
1          Good NPK
2               MOP
3      Urea and DAP
4      Urea and MOP
           ...
195             DAP
196    Urea and MOP
197    Urea and DAP
198             DAP
199    Urea and MOP
Name: Fertilizer, Length: 200, dtype: object

In [109]:
X.head()

   Temperature  Humidity  Rainfall    pH    N    P    K        Soil     Crop
0        24.87     82.84    295.61  6.59  4.0  2.0  2.5      Clayey     rice
1        28.69     96.65    178.96  6.08  4.0  4.0  4.0    laterite  Coconut
2        20.27     81.64    270.44  5.01  4.0  4.0  2.0  silty clay     rice
3        25.07     95.02    192.90  5.55  2.0  2.1  3.5       sandy  Coconut
4        25.04     95.90    174.80  6.18  2.0  3.9  2.1     coastal  Coconut

In [110]:
y.head()

0     DAP and MOP
1        Good NPK
2             MOP
3    Urea and DAP
4    Urea and MOP
Name: Fertilizer, dtype: object

In [111]:
X['Crop'].unique()

array(['rice', 'Coconut'], dtype=object)

In [112]:
datamapping={
    
    'rice':1,
    'Coconut':2

}

In [113]:
X['Crop']=X['Crop'].map(datamapping)
X.head()

   Temperature  Humidity  Rainfall    pH    N    P    K        Soil  Crop
0        24.87     82.84    295.61  6.59  4.0  2.0  2.5      Clayey     1
1        28.69     96.65    178.96  6.08  4.0  4.0  4.0    laterite     2
2        20.27     81.64    270.44  5.01  4.0  4.0  2.0  silty clay     1
3        25.07     95.02    192.90  5.55  2.0  2.1  3.5       sandy     2
4        25.04     95.90    174.80  6.18  2.0  3.9  2.1     coastal     2

In [114]:
X['Soil'].unique()

array(['Clayey', 'laterite', 'silty clay', 'sandy', 'coastal',
       'clay loam', 'alluvial'], dtype=object)

In [115]:
datamapping={
    

     'Clayey' : 1 ,
     'laterite' : 2 ,
     'silty clay' : 3 ,
     'sandy': 4 ,
     'coastal':5 ,
     'clay loam': 6,
     'alluvial'  :7

}

In [116]:
X['Soil']=X['Soil'].map(datamapping)

In [117]:
X

     Temperature  Humidity  Rainfall    pH    N    P    K  Soil  Crop
0          24.87     82.84    295.61  6.59  4.0  2.0  2.5     1     1
1          28.69     96.65    178.96  6.08  4.0  4.0  4.0     2     2
2          20.27     81.64    270.44  5.01  4.0  4.0  2.0     3     1
3          25.07     95.02    192.90  5.55  2.0  2.1  3.5     4     2
4          25.04     95.90    174.80  6.18  2.0  3.9  2.1     5     2
..           ...       ...       ...   ...  ...  ...  ...   ...   ...
195        23.58     83.59    291.30  5.85  4.0  2.0  3.0     3     1
196        25.66     83.47    217.38  7.12  2.0  3.9  2.1     1     1
197        24.17     83.73    257.03  5.58  2.0  2.1  3.5     3     1
198        26.23     83.84    286.51  5.54  4.2  2.3  3.2     3     1
199        23.83     84.81    298.56  6.27  2.5  4.0  2.0     3     1

[200 rows x 9 columns]

In [118]:
y.unique()
y

0       DAP and MOP
1          Good NPK
2               MOP
3      Urea and DAP
4      Urea and MOP
           ...
195             DAP
196    Urea and MOP
197    Urea and DAP
198             DAP
199    Urea and MOP
Name: Fertilizer, Length: 200, dtype: object

In [119]:
datamapping={
    'DAP and MOP': 1, 
    'Good NPK':2, 
    'MOP':3,
    'Urea and DAP': 4,
    'Urea and MOP': 5,
    'Urea ':6,
    'DAP':7
    }

In [120]:
y=y.map(datmapping)
y

0      1
1      2
2      3
3      4
4      5
      ..
195    7
196    5
197    4
198    7
199    5
Name: Fertilizer, Length: 200, dtype: int64

In [121]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

In [122]:
model=RandomForestClassifier()
model.fit(X_train,y_train)

RandomForestClassifier()

In [123]:
y_predict=model.predict(X_test)

In [124]:
score=accuracy_score(y_test,y_predict)
score

0.9833333333333333